 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/-min.jpg");
  background-position: 63.21% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 233px 120px 0 185px;
}

.u-section-1 .u-text-2 {
  margin: 35px 198px 60px 172px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-1 .u-text-1 {
    width: 770px;
    margin-left: 85px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    width: 770px;
    margin-left: 72px;
    margin-right: 98px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
    margin-top: 90px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
    width: 340px;
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/sa-min.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1396px;
}

.u-section-2 .u-shape-1 {
  background-image: linear-gradient(#232b79, #db545a);
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 162px 30px 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1032px;
  margin: 134px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
  min-height: 672px;
  grid-gap: 31px 31px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 14px;
}

.u-section-2 .u-icon-1 {
  height: 51px;
  width: 51px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 6px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  width: 316px;
  margin: 61px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 13px 44px 0 23px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 14px;
}

.u-section-2 .u-icon-2 {
  height: 51px;
  width: 51px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 6px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  width: 316px;
  margin: 61px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: 13px 44px 0 23px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 14px;
}

.u-section-2 .u-icon-3 {
  height: 51px;
  width: 51px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 6px;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  width: 316px;
  margin: 61px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  margin: 13px 44px 0 23px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 14px;
}

.u-section-2 .u-icon-4 {
  height: 51px;
  width: 51px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 6px;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  width: 316px;
  margin: 61px auto 0;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  margin: 13px 44px 0 23px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    height: 427px;
    margin-top: 87px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -405px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-top: 206px;
    margin-right: -16px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 16.5px) calc(50% - 16.5px);
    min-height: 617px;
    grid-gap: 33px 33px;
  }

  .u-section-2 .u-icon-1 {
    height: 80px;
    width: 80px;
    padding: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -35px;
    margin-right: 32px;
    margin-left: 129px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-2 {
    height: 80px;
    width: 80px;
    padding: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -35px;
    margin-right: 32px;
    margin-left: 129px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-3 {
    height: 80px;
    width: 80px;
    padding: 20px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -35px;
    margin-right: 32px;
    margin-left: 129px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-4 {
    height: 80px;
    width: 80px;
    padding: 20px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -35px;
    margin-right: 32px;
    margin-left: 129px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1512px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 625px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 6px;
    margin-right: 7px;
    margin-left: -7px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 7px;
    margin-right: 1px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 6px;
    margin-right: 7px;
    margin-left: -7px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 7px;
    margin-right: 1px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 6px;
    margin-right: 7px;
    margin-left: -7px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 7px;
    margin-right: 1px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 6px;
    margin-right: 7px;
    margin-left: -7px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 7px;
    margin-right: 1px;
    margin-left: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2866px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -406px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 207px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 844px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1098px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 74px auto 0;
}

.u-section-3 .u-shape-1 {
  width: 172px;
  height: 62px;
  margin: 38px 473px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 468px;
  height: 468px;
  background-image: url("images/cxc.jpg");
  background-position: 50% 50%;
  margin: 255px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1120px;
  margin: -685px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  min-height: 280px;
  grid-gap: 22px 22px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 0 0 0 11px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 28px 0 0 11px;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 19px;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 0 0 0 11px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 28px 0 0 11px;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 19px;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 0 0 0 11px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 28px 0 0 11px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: 189px;
    height: 68px;
    margin-top: 42px;
    margin-right: 367px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 245px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
    min-height: 233px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1184px;
  }

  .u-section-3 .u-shape-1 {
    width: 212px;
    height: 76px;
    margin-top: 56px;
    margin-right: 237px;
  }

  .u-section-3 .u-image-1 {
    width: 536px;
    height: 536px;
    margin-top: 223px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 308px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1326px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    width: 535px;
    height: 535px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 453px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1321px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 51px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 228px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: -557px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 601px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 844px;
}

.u-section-4 .u-image-1 {
  height: 553px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 1279px;
  margin: -101px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 328px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-group-1 {
  width: 58px;
  min-height: 52px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 5px 5px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  width: 289px;
  margin: 9px auto 0;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  margin: 24px 31px 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-group-2 {
  width: 58px;
  min-height: 52px;
  background-size: auto;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 500;
  width: 289px;
  margin: 9px auto 0;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  margin: 24px 31px 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-group-3 {
  width: 58px;
  min-height: 52px;
  background-size: auto;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-text-7 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 500;
  width: 289px;
  margin: 9px auto 0;
}

.u-section-4 .u-text-9 {
  font-style: italic;
  margin: 24px 31px 0;
}

.u-section-4 .u-text-10 {
  font-weight: 400;
  margin: -734px calc(((100% - 1140px) / 2) + 129px) 682px calc(((100% - 1140px) / 2) + 227px);
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 14px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin: -748px 0 60px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1045px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 520px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 9px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: 9px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 14px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-right: 9px;
  }

  .u-section-4 .u-text-10 {
    margin-top: -933px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1376px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-top: -775px;
    margin-right: calc(((100% - 540px) / 2) + 63px);
    margin-left: calc(((100% - 540px) / 2) + 181px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1327px;
  }

  .u-section-4 .u-image-1 {
    height: 448px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-4 .u-group-1 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 15px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-4 .u-group-2 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 15px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-4 .u-group-3 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 15px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-10 {
    margin-top: -1204px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 516px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 90px auto 0 144px;
  padding: 20px 38px 21px;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -63px auto 0;
  padding: 20px 38px 21px;
}

.u-section-5 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -54px 90px 0 auto;
  padding: 20px 38px 21px;
}

.u-section-5 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 40px auto 0 188px;
  padding: 20px 30px 21px;
}

.u-section-5 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -63px 252px 60px auto;
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-5 {
    margin-right: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 91px;
    margin-left: 40px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 20px;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 51px;
    margin-right: 20px;
  }

  .u-section-5 .u-btn-4 {
    margin-top: -63px;
    margin-left: 73px;
  }

  .u-section-5 .u-btn-5 {
    margin-top: 60px;
    margin-right: 174px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 28px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 97px;
    margin-right: 0;
  }

  .u-section-5 .u-btn-4 {
    margin-top: -140px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-5 {
    margin-top: 86px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 54px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 33px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 103px;
    margin-right: auto;
  }

  .u-section-5 .u-btn-4 {
    margin-top: -151px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-5 {
    margin-top: 108px;
    margin-left: auto;
    margin-bottom: 46px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/cvb.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 709px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  text-align: center;
  margin: 27px 316px 0 auto;
}

.u-section-6 .u-shape-1 {
  width: 150px;
  height: 47px;
  text-align: center;
  margin: 27px auto 0;
}

.u-section-6 .u-image-1 {
  width: 463px;
  height: 463px;
  margin: 16px 14px 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: -448px 597px 60px 63px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 260px;
  }

  .u-section-6 .u-image-1 {
    width: 456px;
    height: 464px;
    margin-top: 15px;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -432px;
    margin-right: 470px;
    margin-left: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-right: auto;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 14px;
  }

  .u-section-6 .u-image-1 {
    width: 452px;
    height: 279px;
    margin-top: 13px;
    margin-right: 11px;
  }

  .u-section-6 .u-text-2 {
    margin: 27px 244px 56px 23px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 18px;
    margin-left: 44px;
    margin-right: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-6 .u-text-1 {
    width: 246px;
    margin-top: 114px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 13px;
  }

  .u-section-6 .u-image-1 {
    height: 210px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}